
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>The Healthy Foodie</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <h1>User Profile</h1>
    <p>Welcome, {{ session.username }}!</p>
    <p>Username: {{ session.username }}</p>
    <p>Password: {{ user.password }}</p>  <!-- Display the full name -->
    <!-- Display other user-specific information here -->
</body>
</html>
